<!DOCTYPE html>
<html>
<script src="aframe/aframe.min.js"></script>

<body>

	<a-scene>
		<a-camera><a-cursor color="white" position="2.5 0.5 0"></a-cursor> </a-camera>
		 <a-box  src="Hair-Type-1A.jpg"  height= "3" width = "3" color="white" position="0 0.5 -4" onClick="location.href='/OneA'">
			 <a-animation attribute="rotation"
               dur="10000"
               fill="forwards"
               to="0 360 0"
               repeat="indefinite"></a-animation>
		  </a-box>
		 <a-box  src="Hair-Type-1B.jpg"  height= "3" width = "3" color="white" position="-4 0.5 -4" onClick="location.href='/OneB'">
			 <a-animation attribute="rotation"
							 dur="10000"
							 fill="forwards"
							 to="0 360 0"
							 repeat="indefinite"></a-animation>
		 </a-box>
		 </a-box>
		 <a-box  src="Hair-Type-1C.jpg"  height= "3" width = "3" color="white" position="-8 0.5 -4" onClick="location.href='/OneC'">
			 <a-animation attribute="rotation"
							 dur="10000"
							 fill="forwards"
							 to="0 360 0"
							 repeat="indefinite"></a-animation>
		 </a-box>
		 </a-box>
		 <a-box  src="Hair-Type-2A.jpg"  height= "3" width = "3" color="white" position="-12 0.5 -4" onClick="location.href='/TwoA'"> <a-animation attribute="rotation"
							dur="10000"
							fill="forwards"
							to="0 360 0"
							repeat="indefinite"></a-animation>
		 </a-box>s </a-box>
		 <a-box  src="Hair-Type-2B.jpg"  height= "3" width = "3" color="white" position="-16 0.5 -4" onClick="location.href='/TwoB'">
			 <a-animation attribute="rotation"
							 dur="10000"
							 fill="forwards"
							 to="0 360 0"
							 repeat="indefinite"></a-animation>
			</a-box>
		  </a-box>
		 <a-box  src="Hair-Type-2C.jpg"  height= "3" width = "3" color="white" position="-20 0.5 -4" onClick="location.href='/TwoC'">
			 <a-animation attribute="rotation"
							 dur="10000"
							 fill="forwards"
							 to="0 360 0"
							 repeat="indefinite"></a-animation>
		 </a-box>
		 </a-box>
		 <a-box  src="Hair-Type-3A.jpg"  height= "3" width = "3" color="white" position="-24 0.5 -4" onClick="location.href='/ThreeA'">
			 <a-animation attribute="rotation"
							 dur="10000"
							 fill="forwards"
							 to="0 360 0"
							 repeat="indefinite"></a-animation>
		 </a-box>
		  </a-box>
		 <a-box  src="Hair-Type-3B.jpg"  height= "3" width = "3" color="white" position="-28 0.5 -4" onClick="location.href='ThreeB'">
			 <a-animation attribute="rotation"
							 dur="10000"
							 fill="forwards"
							 to="0 360 0"
							 repeat="indefinite"></a-animation>
		 </a-box>
		  </a-box>
		 <a-box  src="Hair-Type-3C.jpg"  height= "3" width = "3" color="white" position="-32 0.5 -4" onClick="location.href='/ThreeC'">
			 <a-animation attribute="rotation"
							 dur="10000"
							 fill="forwards"
							 to="0 360 0"
							 repeat="indefinite"></a-animation>
		 </a-box>
		 </a-box>
		 <a-box  src="Hair-Type-4A.jpg"  height= "3" width = "3" color="white" position="-36 0.5 -4" onClick="location.href='/FourA'">
			 <a-animation attribute="rotation"
							 dur="10000"
							 fill="forwards"
							 to="0 360 0"
							 repeat="indefinite"></a-animation>
		 </a-box>
		 </a-box>
		 <a-box  src="Hair-Type-4B.jpg"  height= "3" width = "3" color="white" position="-40 0.5 -4" onClick="location.href='/FourB'">
			 <a-animation attribute="rotation"
							 dur="10000"
							 fill="forwards"
							 to="0 360 0"
							 repeat="indefinite"></a-animation>
		 </a-box>
		 </a-box>
		 <a-box  src="Hair-Type-4C.jpg"  height= "3" width = "3" color="white" position="-44 0.5 -4" onClick="location.href='/FourC'">
			 <a-animation attribute="rotation"
							 dur="10000"
							 fill="forwards"
							 to="0 360 0"
							 repeat="indefinite"></a-animation>
		 </a-box>
		 </a-box>
		 <a-plane  height= "1" width = "3" color="#6D1F3B" position="4 0.5 -4" onClick="location.href='/profile'"></a-plane>
		 <a-text width="3.5" height="3.5" color="white" value = "Go back to forum" width="1" height="1.5" position="3 0.5 -4"></a-text>
		<a-sky src="space.jpg"></a-sky>
	</a-scene>
</body>


</html>
