<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="final.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  </head>
  <body>

    <div id="container">
      <header>
        <ul>
          <li><img src="science.png" alt=""></li>
      <li><a href="#title">HairOspace</a></li>

      </ul>
      </header>

      <div id="welcome">
        <img id="avi" src="avatar.png" alt="">
        <section>
          <h1>Hello, Queen!</h1>


          <h2>Hair care shouldn't feel like rocket science. We do all the research for you!</h2>
          <p>Start your new journey towards healthy hair!</p>

          <button type="button" class="enter" name="button">  <a href="/quiz" >Begin</a></button>

        </section>

      </div>
    </div>

  </body>
</html>
