<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="quiz.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">

  </head>
  <body>
    <header>
      <ul>
        <li><img src="science.png" alt=""></li>
        <li><a href="/">HairOspace</a></li>

    </ul>
    </header>
    <div id="container">

      <div class="intro">
        <h1>What is your hair type?</h1>
        <h3>Take this quiz to discover personalized hair solutions!</h3>
        <img class="hairPics" src="Type-1-Straight-Hair.jpg" alt="">
        <img class="hairPics" src="Type-2-Wavy-Hair.jpg" alt="">
        <img class="hairPics" src="Type-3-Curly-Hair.jpg" alt="">
        <img class="hairPics" src="Type-4-Coily-Hair.jpg" alt="">
        <button id="startQuiz" type="button" name="button">Start Quiz</button>
      </div>

      <div class="numOne hideQ">
        <h2>What is your natural curl pattern?</h2>
        <button  class="firstQ straight" type="button" name="button">Naturally Straight</button>
        <button class="firstQ wavy"type="button" name="button">Naturally Wavy</button>
        <button class="firstQ curly" type="button" name="button">Naturally Curly</button>
        <button class="firstQ coily" type="button" name="button">Naturally Coily</button>
      </div>
      <div class="numTwo hideQ">
        <h2>Can you see your scalp?</h2>
        <button class="secQ a" type="button" name="button">Yes, even before I move my hair</button>
        <button class="secQ b"type="button" name="button">Only if I move my hair</button>
        <button class="secQ c" type="button" name="button">Kinda, but my hair hides my scalp</button>

      </div>
      <div class="numThree hideQ">
        <h2>How long does your hair take to air dry after washing?</h2>
        <button class="thirdQ low" type="button" name="button">More than six hours!</button>
        <button class="thirdQ normal"type="button" name="button">Two to four hours! </button>
        <button class="thirdQ high" type="button" name="button">Only one hour!</button>
      </div>

      <div>
        <h2 id="hairType"></h2>
        <img id="resultPic" src="" alt="">
        <p id="hairInfo"></p>
        <p id="porosityInfo"></p>
        <button id="submitBtn" class="hideQ" type="button" name="button">See Results</button>
        <button id="learnMoreBtn" class="hideQ" type="button" name="button">Learn More</button>

      </div>

            <p class="signIn">Login or Signup to Join the Community:</p>
            <a href="/login" class="btn btn-default signIn"><span class="fa fa-user"></span>Login</a>
            <a href="/signup" class="btn btn-default signIn"><span class="fa fa-user"></span>Signup</a>
    </div>


  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="quiz.js"></script>



  </body>
</html>
