<!doctype html>
<html>
<head>
    <title>HairOspace</title>
    <link rel="stylesheet" href="font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
  <header>
    <ul class="nav">
      <li><img src="science.png" alt=""></li>
  <li><a href="/">HairOspace</a></li>

  </ul>
  </header>

    <div class="page-header text-center">



            <div class="row">

                <!-- LOCAL INFORMATION -->
                <div  id="area">
                  <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                        <h1><span class="fa fa-user"></span> Welcome, Queen  <%= user.local.email %> to the hair forum!</h1>

                        <button id="avi" type="button" name="button"><a href="/cert">Get Your AR avatar</a></button>
                        <!-- <% if (user.local.email) { %>

                            <a href="/unlink/local" class="btn btn-default">Unlink</a>
                        <% } else { %>
                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                        <% } %> -->



                <div class="col-sm-6">

                  <ul class="messages">
                  <% for(var i=0; i<messages.length; i++) {%>
                    <li class="message">
                      <span><%= messages[i].hairType %></span>
                      <span><%= messages[i].hairPorosity %></span>
                      <span><%= messages[i].name %></span>

                    </li>
                  <% } %>
                  </ul>
                  <% if (user.local.email) { %>
                  <form action="/messages" method="POST">
                    <input type="text" name="name" value="" placeholder="Your Name">
                    <input type="text" placeholder="type" name="hairType"  list="porosityList">
                    <input type="text" placeholder="porosity" name="hairPorosity" list="typeList">

                      <button id=subBtn type="submit">Submit</button>

                    <datalist id="porosityList">
                      <opton value="low">
                      <option value="normal">
                      <option value="high">

                    <datalist id="typeList">
                      <opton value="1a">
                      <option value="1b">
                      <option value="1c">
                      <opton value="2a">
                      <option value="2b">
                      <option value="2c">
                      <opton value="3a">
                      <option value="3b">
                      <option value="3c">
                      <opton value="4a">
                      <option value="4b">
                      <option value="4c">
                    </datalist>

                  </form>
                  </div>
                  <% } %>

    </div>
                </div>





<script src="main.js"></script>

</body>
</html>
