body{
  background: #F2F1EF;
  font-family: 'Amatic SC', cursive;
  font-size: 18px;
}

.col-sm-6{
  height: 560px;
  width:60%;
  margin-left: 20%;
  margin-right: 5%;
  background: rgba(255,255,255, 0.7);
  border-radius: 5px;
  box-shadow: 5px 20px 150px #d6dee4;


}

h1 span, h1{
  text-align: center;
  color:#6A4FEF;
  font-size: 2.5em;
  font-family: 'Cabin Sketch', cursive;
}

input{
  height: 40px;
  width: 30%;
  font-size: 1.5em;
  margin-left: 36%;
  margin-top: 10px;
  border-bottom: 1px solid gray;
  border: none;
  font-family: 'Cabin Sketch', cursive;
}

#loginBtn, #signupBtn{
  margin-left: 65%;
  margin-top: 30px;
  width: 15%;
  height: 40px;
  border: 0;
  color: white;
  background: #03C9A9;
  border-radius: 5px;
  font-size: 1.5em;

}
#loginBtn:hover, #signupBtn:hover{
  background:#E8DEF3;
}

p{
  font-size: 1.2em;
}
img{
  height: 100px;
  width: auto;
  margin-left: 45%;
}
